# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Dataset (DO NOT PUSH)
dataset/

# Ignore CNN files
main_cnn.py
train_cnn.py
model/cnn_voice_model.pth
